//font-weight
.font-bold {
  font-weight: bold;
}
.bold-300 {
  font-weight: 300;
}

.bold-400 {
  font-weight: 400;
}

.bold-500 {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold-800 {
  font-weight: 800;
}

.bold-900 {
  font-weight: 900;
}

//font-size

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-40 {
  font-size: 40px;
}

//letter spacing
.letter-spacing-0 {
  letter-spacing: 0em;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-03 {
  letter-spacing: 0.3em;
}

.letter-spacing-003 {
  letter-spacing: 0.03em;
}

.letter-spacing-negative-001 {
  letter-spacing: -0.01em;
}

//line-height

.line-height-11 {
  line-height: 11px;
}

.line-height-12 {
  line-height: 12px;
}

.line-height-13 {
  line-height: 13px;
}

.line-height-14 {
  line-height: 14px;
}

.line-height-15 {
  line-height: 15px;
}

.line-height-16 {
  line-height: 16px;
}

.line-height-17 {
  line-height: 17px;
}

.line-height-18 {
  line-height: 18px;
}

.line-height-19 {
  line-height: 19px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-21 {
  line-height: 21px;
}

.line-height-22 {
  line-height: 22px;
}

.line-height-23 {
  line-height: 23px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-25 {
  line-height: 25px;
}

.line-height-26 {
  line-height: 26px;
}

.line-height-27 {
  line-height: 27px;
}

.line-height-28 {
  line-height: 28px;
}

.line-height-29 {
  line-height: 29px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-31 {
  line-height: 31px;
}

.line-height-32 {
  line-height: 32px;
}

.line-height-33 {
  line-height: 33px;
}

.line-height-34 {
  line-height: 34px;
}

.line-height-35 {
  line-height: 35px;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-37 {
  line-height: 37px;
}

.line-height-38 {
  line-height: 38px;
}

.line-height-39 {
  line-height: 39px;
}

.line-height-40 {
  line-height: 40px;
}

//border radius

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-7 {
  border-radius: 7px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-9 {
  border-radius: 9px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-11 {
  border-radius: 11px;
}

.border-radius-12 {
  border-radius: 12px;
}

.border-radius-13 {
  border-radius: 13px;
}

.border-radius-14 {
  border-radius: 14px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-16 {
  border-radius: 16px;
}

.border-radius-17 {
  border-radius: 17px;
}

.border-radius-18 {
  border-radius: 18px;
}

.border-radius-19 {
  border-radius: 19px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-50 {
  border-radius: 50%;
}

//width
.width-1 {
  width: 1px;
}
.width-235 {
  width: 280px;
}

.max-width-152 {
  width: 152px;
}

.max-width-273 {
  width: 273px;
}

.width-60 {
  width: 160px;
}

.width-90 {
  width: 90px;
}

.width-120 {
  width: 120px;
}

.width-left-42 {
  margin-left: 42px;
}

.width-left-25 {
  margin-left: 25rem;
}

//min-width
.min-width-1 {
  min-width: 1px;
}

.min-width-520 {
  min-width: 520px;
}

.min-width-120 {
  min-width: 120px;
}

//man-width
.max-width-1 {
  max-width: 1px;
}

.width-190 {
  width: 190px;
}

//height

.height-1 {
  height: 1px;
}

.height-12 {
  height: 14px;
}

.height-34 {
  height: 34px;
}

.height-36 {
  height: 36px;
}

.height-38 {
  height: 38px;
}

.height-40 {
  height: 40px;
}

.height-42 {
  height: 42px;
}

.height-35 {
  height: 35vh;
}

.height-100 {
  height: 100px;
}

//min height
.min-height-1 {
  min-height: 1px;
}

.min-height-30 {
  min-height: 30vh;
}

.min-height-45 {
  min-height: 45vh;
}

.min-height-75 {
  min-height: 75vh;
}

.min-height-100 {
  min-height: 100vh;
}

.min-height-350 {
  min-height: 350px;
}

.min-height-400 {
  min-height: 400px;
}

.min-height-152 {
  min-height: 182px;
}

.min-height-99 {
  min-height: 99px;
}

//max-height
.max-height-1 {
  max-height: 1px;
}

// text intent
.text-intent-negative-4 {
  text-indent: -4px;
}

.text-indent-negative-18 {
  text-indent: -18px;
}
//text-decoration
.text-decoration-line {
  text-decoration-line: underline;
}

//margin-top
.margin-top-35px {
  margin-top: 35px;
}

.margin-top-80px {
  margin-top: 80px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-top-16px {
  margin-top: 16px;
}

.margin-top-12px {
  margin-top: 12px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-5px {
  margin-top: -5px;
}

.margin-right-10px {
  margin-right: 10px;
}
.margin-right-180 {
  margin-right: 180px;
}
.margin-right-130 {
  margin-right: 130px;
}

.margin-right-negative-10px {
  margin-right: -9px;
}

.margin-left-auto {
  margin-left: auto !important;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-left-80 {
  margin-left: 80px;
}
.margin-left-70 {
  margin-left: 72%;
}
.margin-13px {
  margin: 13px;
}
.margin-top-75 {
  margin-top: 75px;
}
.margin-top-30 {
  margin-top: 30px;
}

.margin-left-48 {
  margin-left: 48px;
}

.margin-right-48 {
  margin-right: 3rem !important;
}

.margin-left-224 {
  margin-left: 224px;
}
.margin-left-negative-1 {
  margin-left: -1px;
}

.margin-bottom-16px {
  margin-bottom: 16px;
}
//padding
.padding-left-13 {
  padding-left: 13px;
}

//opacity
.opacity-07 {
  opacity: 0.7;
}
.opacity-1 {
  opacity: 1;
}
